/* TEXT */
/* TITLE HEADING */

header {
    position: relative;
    height: 923px;
}

.title {
    margin-top: 2%;

}

#buildingblocks {
    width: 200px;
}
/* puzzle of blocks */
#container {
    position: relative;
    height: 495px;
}

.blocks {
    width: 165px;
    height: 165px;
    position: absolute;
    margin: 0%;
}

.sbI {
    position: top left;
}

.sbS{
    top: 165px;
    left: 165px;
}

.sbR {
    top: 165px;
    left: 330px;
}

.sbD {
    top: 330px;
}

.sbN{
    top: 165px;
}

.sbP{
    top: 330px;
    left: 165px;
}

.sbL{
    top:330px;
    left: 330px;
}

/* HEADING ONE */
h1 {
    font-family: "freude", sans-serif;
    font-size: 90.44px;
    font-weight: 400;
    font-style: normal;
}

#columnTop {
    padding-left: 12%;
    padding-bottom: 1%;
    float: left;
}


/* for header page only */
#t1 {
    font-size: 70px;
    margin: 0%;
    padding-bottom: 10%;
    display: none;
}

#t2 {
    margin: 0%;
    font-size: 120px;
    font-weight: 400;
    line-height: 60px;
    display: none;

}

#t3 {
    padding-left: 12%;
    padding-top: 1%;

}

/* EMPTY BOXES */
#empty1 {
    position: absolute;
    top: 23.5%;
    left: 12.25%;
}

#empty2 {
    position: absolute;
    left: 37.5%;
    top: 23.5%;
}

#empty3 {
    position: absolute;
    top: 23.5%;
    left: 60%;
}
/* snapping with no margin */
.snapMe {
    margin: 0%;
}

#intrinsicTitle {
    position: relative;
    left: 5.5%;
    width: 1375px;
    height: 200px;
}

#t4 {
    font-size: 190px;
    line-height: 183px;
    margin: 0%;
    font-family: "freude", sans-serif;
    position: absolute;
    right: 5%;
}


/* HEADING TWO*/
h2 {
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
    line-height: 100px;
    font-size: 67.34px;
}

/* HEADING THREE*/
h3 {
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 500;
    font-size: 45.23px;
    line-height: 0px;
    font-style: normal;
}

/* SUBTITLES */
h4 {
    font-size: 32px;
    font-family: "freude", sans-serif;
    color: white;
    line-height: 44px;
}

/* PARAGRAPH TEXT */
p {
    font-family: "sofia-pro", sans-serif;
    font-size: 25.5px;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: auto;
    background-color: #FFF1D1;
}

/* centers images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floatRight {
    float: right;
}

/* WHAT IS INTRINSIC AND EXTRINSIC SECTION */

.whatIsIntrinsic {
    margin: auto;
    height: 3160px;
    padding-top: 10%;
}

#intrinsicPara {
    position: absolute;
    top: 2640px;
    right: 7%;
    width: 580px;
}

#extrinsicPara {
    position: absolute;
    padding: 5%;
    width: 580px;
}

/* ID images */


#orangeHead {
    width: 100%;
    height: 1670px;
    object-fit: cover;
    object-position: 10% 10%;

}

#blueHead {
    width: 1922px;
    height: 1540px;
    position: absolute;
    top: 3523px;
    left: -1%;
}

.centerSec {
    display: flex;
    justify-content: center;
    align-items: center;
}

#orangeBG {
    width: 100%;
    height: 3679px;
    object-fit: cover;
    object-position: -50px 10%;
}

#pitfallIntro {
    position: absolute;
    width: 950px;
    top: 5220px;
}


#examples {
    position: absolute;
    top: 5707px;
    height: 1011px;
    width: 100%;
}

.yellRect {
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;

}

#exIcons {
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;

}


#eyeballs {
    padding-top: 15%;

}

.columnEx {
    display: flex;
    align-content: start;
    top: 89%;
    position: absolute;
    column-gap: 218px;
    left: 15%;
}

#quote {
    margin: 8% 20% 20% 20%;
}

#benefitsInflu {
    height: 2550px;
}

#benefits {
    margin: 12% 0% 0% 15%;
    width: 50%;
}

#benefitsIntro {
    padding-left: 36%;
}

#numIcons{
    padding-left: 10%;
}

#pinkBox {
    position: absolute;
    padding-top: 10%;
}

#blackRoad {
    position: absolute;
    width: 1902px;
    height: 100%;
}

#factorSection {
    height: 2314px;
    background-color: black;
}

#factors {
    padding: 5%;
}

.fourGrid {
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: 275px 530px 275px 530px;
    grid-gap: 44px;
}

.gridItem {
    margin-bottom: 5px;
}

.fourText {
    color: white;    
}

.where {
    display: flex;
    justify-content: center;
    align-items: center;
}

.where h2 {
    font-size: 90.44px;
    color: white;
    margin-top: 30%;

}

.button {
    margin-left: 30%;
    width: 760px;
    filter: brightness(75%)
}

.button:hover {
    filter: brightness(100%);

}


/* INTERACTION */
@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.animate-on-scroll{
    opacity: 0;
    transform: translate (-300px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
}

.animate{
    opacity: 1;
    transform: translateX(0);
}

